<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wakatime</string>
			</array>
		</dict>
	</array>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/MMavrisPaleBlue/FileStorage/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>KzQTON8yji6wCxUeOtxxQ3F45o0pJZPFWRpnnBYtj74=</string>
</dict>
</plist>
